form {
    width: 100%;
}

.single-toolbar {
    justify-content: center;
}

.mat-form-field {
    width: 100%;
    display: block;
}

.mat-raised-button {
    width: 100%;
    margin-top: 15px;
}

.buttons {
    float: right;
}